<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Here you can configure which Class should be used for the database -->
    <bean id="CarsServiceId" class="de.pandigo.cars.persistence.CarsServiceAnotherMock" scope="test"/>

</beans>